
h1
{
	color: rgb(103, 235, 42); 
	font-size: 40px;
}
.body_backgorund {
	background-image:url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	background-color: ivory;
	border-style: groove;
	border-top-width: 15mm;
	border-left-width:20mm;
	border-right-width: 15mm;
	border-bottom-width: 15mm;
}
